<div class="container m-3">
  <div *ngFor="let pregunta">
    <p>{{ pregunta.descripcion }}</p>
    <ul>
      <li>
        <input type="radio" name="respuesta{{ pregunta.id }}" value="1" (change)="capturarRespuesta(pregunta.id, 1)">
        Estoy de acuerdo
      </li>
      <li>
        <input type="radio" name="respuesta{{ pregunta.id }}" value="0" (change)="capturarRespuesta(pregunta.id, 0)">
        No estoy de acuerdo
      </li>
    </ul>
    <hr class="question-separator">
  </div>
  
</div>
  